.idea
vendor/
test/modules/composer-patches/
report-*
output.txt
output.out
test/**/composer.lock
test/installations/**/modules
test/installations/**/patches
test/installations/**/patches.json
test/dependencies/modules
test/dependencies/phpcs.xml
test/dependencies/composer.json
*.org
.history
output.exp
.devcontainer
bin/phpcs 
bin/phpcbf
Dockerfile
mutagen*
docker-compose.yml