.idea
vendor/
test/modules/composer-patches/
phpcs.xml
report-*
output.txt
output.out
test/**/composer.lock
test/installations/**/modules
test/installations/**/patches
test/installations/**/patches.json
test/dependencies/modules
*.org